@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

:local(body) {
    margin: 0;
}

:local(p) {
    margin: 0;
    display: inline-block;
}

:local(.Chatroom) {
    width: 720px;
    height: 760px;
    background-color: rgba(0,0,0, .7);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

:local(.Chatroom h3) {
    font-family: 'Pacifico', cursive;
    background-color: #e86d26;
    color: #FFF;
    margin: 0;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

:local(.Chatroom ul) {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 10px 100px 100px;
    height: 510px;
    overflow-y: scroll;
}

.ui.list {
    padding: 30px !important;
    word-break: break-word;      /* IE */
}
